/**
 * MAIN SLIDER CSS
 */

 .main-slider {
     .owl-item {
         position: relative;
     }
     .owl-controls {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        .transform(translateY(-50%));
     }
    .slider-caption {
        position: absolute;
        top: 50%;
        left: 50%;
        .transform(translate(-50%, -50%));
        text-align: center;
        margin-bottom: 15px;
        img {
            margin-bottom: 20px;
        }
        .welcome {
            margin-bottom: 15px;
            text-transform: uppercase;
            font-size: 24px;
            color: white;
        }
        .hotel {
            .fontMont();
            font-size: 50px;
            font-weight: bold;
            margin-bottom: 35px;
            color: white;
        }
        .slider-lk {
            display: inline-block;
            color: white;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
            padding: 10px 15px;
            border: 1px solid white;
        }
    }
 }