/**
 * NEWS OFFER CSS
 * Updated on 10/10/16
 */

.news-offer {
    position: relative;
    height: 80px;
    background: @grey;
    &:before {
        content: "";
        height: 80px;
        width: 50%;
        background: @lgrey;
        position: absolute;
        top: 0;
        left: 0;
    }
    .container {
        position: relative;
        height: 80px;
        background: @grey;
        z-index: 5;
    }
    .special-label {
        background: @lgrey;
        height: 80px;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: -20px;
            height: 80px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 40px 0 40px 20px;
            border-color: transparent transparent transparent @lgrey;
        }
    }
}
