section.section-introduce.about-us
    .container
        .row
            .col-md-6
                figure.about-img
                    img(src="./uploads/about/about_1.jpg")
            .col-md-6
                .about-ct
                    p.section-title ABOUT US
                    p.section-desc Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage ...
                    a.r-more.btn(href="#") read more

