section.black-special.check-avail
    .container
        .special-label
            img(src="./images/icon_check.png")
            span CHECK AVAILABILITY
        .special-ct
            form
                .form-group
                    input.form-ipt(type="text", name="arriv_date")
                .form-group
                    input.form-ipt(type="text", name="depart_date")
                .form-group
                    select.form-ipt(name="adult_num")
                        option(value="-") Adults
                        option(value="1") 1
                        option(value="2") 2
                .form-group
                    select.form-ipt(name="child_num")
                        option(value="-") Adults
                        option(value="1") 1
                        option(value="2") 2
                button.btn.btn-yellow FIND THE BEST RATE
