.event-blk
    p.section-title EVENT & DEAL
    .event-content
        .row
            .col-xs-12
                .event-img
                    img(src="./uploads/event/event_1.jpg")
        .row
            .col-md-6
                .event-img
                    img(src="./uploads/event/event_2.jpg")
                    p.event-text Save the date
                    span.event-author BECCA & ROBERT
                    a.event-lk(href="#") COME WITH THEIR
            .col-md-6
                .event-img
                    img(src="./uploads/event/event_3.jpg")
                    p.event-text GO ON BEACH.LOTUS
                    a.event-lk(href="#") VIEW MORE