section.gallery
    .container
        p.section-title GALLERY
        .gallery-show
            .gallery-tabs
                a(href="javascript:;", data-filter="HOTEL & GROUND") HOTEL & GROUND
                a(href="javascript:;", data-filter="ROOM/SUITE") ROOM/SUITE
                a(href="javascript:;", data-filter="BATHROOM") BATHROOM
                a(href="javascript:;", data-filter="DINING") DINING
            .gallery-ct
                .gallery-itm
                    img(src="./uploads/gallery/gallery_1.jpg")
                .gallery-itm
                    img(src="./uploads/gallery/gallery_2.jpg")
                .gallery-itm
                    img(src="./uploads/gallery/gallery_3.jpg")
                .gallery-itm
                    img(src="./uploads/gallery/gallery_4.jpg")
                .gallery-itm
                    img(src="./uploads/gallery/gallery_1.jpg")
                .gallery-itm
                    img(src="./uploads/gallery/gallery_2.jpg")
                .gallery-itm
                    img(src="./uploads/gallery/gallery_3.jpg")
                .gallery-itm
                    img(src="./uploads/gallery/gallery_4.jpg")
                .gallery-itm
                    img(src="./uploads/gallery/gallery_1.jpg")
                .gallery-itm
                    img(src="./uploads/gallery/gallery_2.jpg")
                .gallery-itm
                    img(src="./uploads/gallery/gallery_3.jpg")
                .gallery-itm
                    img(src="./uploads/gallery/gallery_4.jpg")
        a.r-more(href="#") BROWSE OUR GALLERY