.main-slider
    #main-slider.owl-carousel.owl-theme
        .item
            img(src="./uploads/slider/slider_1.jpg")
            .slider-caption
                img(src="./uploads/slider/logo_flower.png")                
                p.welcome WELCOME TO 
                p.hotel THE LOTUS HOTEL
                a.slider-lk(href="#") VIEW NOW
        .item
            img(src="./uploads/slider/slider_2.jpg")
            .slider-caption
                img(src="./uploads/slider/logo_flower.png")                
                p.welcome WELCOME TO
                p.hotel THE LOTUS HOTEL
                a.slider-lk(href="#") VIEW NOW
        .item
            img(src="./uploads/slider/slider_3.jpg")
            .slider-caption
                img(src="./uploads/slider/logo_flower.png")                
                p.welcome WELCOME TO
                p.hotel THE LOTUS HOTEL 
                a.slider-lk(href="#") VIEW NOW

