section.black-special.news-offer
    .container
        .row
            .special-label.col-md-3
                img(src="./images/icon_envelope.png")
                span CHECK AVAILABILITY
            .special-ct.col-md-9
                form
                    .form-group
                        input.form-ipt(type="text", name="arriv_date", placeholder="Your email address")
                    button.btn.btn-lg SIGN UP
                ul.social-lks
                    li.social-itm
                        a(href="#")
                            i.fa.fa-twitter
                    li.social-itm
                        a(href="#")
                            i.fa.fa-facebook
                    li.social-itm
                        a(href="#")
                            i.fa.fa-pinterest
                    li.social-itm
                        a(href="#")
                            i.fa.fa-tripadvisor
                    li.social-itm
                        a(href="#")
                            i.fa.fa-instagram
        