.news-blk
    p.section-title lotus news
    .news-ct
        .news-itm
            .row
                .col-md-6
                    figure.news-img
                        img(src="./uploads/news/news_1.jpg")
                .col-md-6
                    .news-title
                        span.time 21 / March
                        h3 UPDATE MENU FOOD IN THE LOTUS HOTEL
                        a.r-more(href="#") [ Read More ]
        .news-itm
            .row
                .col-md-6
                    figure.news-img
                        img(src="./uploads/news/news_1.jpg")
                .col-md-6
                    .news-title
                        span.time 21 / March
                        h3 UPDATE MENU FOOD IN THE LOTUS HOTEL
                        a.r-more(href="#") [ Read More ] 
        .news-itm
            .row
                .col-md-6
                    figure.news-img
                        img(src="./uploads/news/news_1.jpg")
                .col-md-6
                    .news-title
                        span.time 21 / March
                        h3 UPDATE MENU FOOD IN THE LOTUS HOTEL
                        a.r-more(href="#") [ Read More ] 
    a.news-vmore(href="#") VIEW MORE