section.section-introduce.our-best
    .container
        .row
            .col-md-6
                .about-ct
                    p.section-title Our Best
                    p.section-desc One of Catalina Island's best-loved hotels, Hotel Vista Del Mar is recognized as one of Avalon's leading hotels with gracious island hospitality, thoughtful amenities and distinctive.
                    .best-itms.row
                        .col-md-4
                            .best-itm
                                img(src="./images/icon_best_1.png")
                                span 250 Best Rooms  5 Star
                        .col-md-4
                            .best-itm
                                img(src="./images/icon_best_2.png")
                                span Wet Bar with Refrigerator
                        .col-md-4
                            .best-itm
                                img(src="./images/icon_best_3.png")
                                span Double Whirlpool Jacuzzi Tub
                        .col-md-4
                            .best-itm
                                img(src="./images/icon_best_4.png")
                                span Luxurious High Thread Count 
                        .col-md-4
                            .best-itm
                                img(src="./images/icon_best_5.png")
                                span Breakfast each morning
                        .col-md-4
                            .best-itm
                                img(src="./images/icon_best_6.png")
                                span Ocean Views to Hillter Hotel
            .col-md-6
                figure.about-img
                    img(src="./uploads/about/about_2.jpg")