section.room-rates
    .container
        p.section-title room & rates
        p.section-desc Semper ac dolor vitae accumsan. Cras interdum hendrerit lacinia. Phasellus accumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor.
        .rooms.row
            .col-md-4
                .room
                    img(src="./uploads/rooms/room_1.jpg")
                    .room-detail
                        span.room-name Luxury Room
                        span.price
                            strong $320
                            | /days
            .col-md-4
                .room
                    img(src="./uploads/rooms/room_2.jpg")
                    .room-detail
                        span.room-name Double Room
                        span.price
                            strong $320
                            | /days
            .col-md-4
                .room
                    img(src="./uploads/rooms/room_3.jpg")
                    .room-detail
                        span.room-name Family Room
                        span.price
                            strong $320
                            | /days
            .col-md-4
                .room
                    img(src="./uploads/rooms/room_4.jpg")
                    .room-detail
                        span.room-name Deluxe Room
                        span.price
                            strong $320
                            | /days
            .col-md-4
                .room
                    img(src="./uploads/rooms/room_5.jpg")
                    .room-detail
                        span.room-name Single Room
                        span.price
                            strong $320
                            | /days
            .col-md-4
                .room
                    img(src="./uploads/rooms/room_6.jpg")
                    .room-detail
                        span.room-name Presidential Room
                        span.price
                            strong $320
                            | /days
                            
