section.testimonial
    #tmonial-slider
        .tmonial-itm
            img(src="./uploads/testimonial/avatar_1.jpg")
            p.desc “This is the only place to stay in Catalina! I have stayed in the cheaper hotels and they were fine, but this is just the icing on the cake! After spending the day bike riding and hiking to come back and enjoy a glass of wine while looking out your ocean view window and then to top it all off...”
            span.name Seelentag
            span.place From Los Angeles, California
        .tmonial-itm
            img(src="./uploads/testimonial/avatar_2.jpg")
            p.desc “This is the only place to stay in Catalina! I have stayed in the cheaper hotels and they were fine, but this is just the icing on the cake! After spending the day bike riding and hiking to come back and enjoy a glass of wine while looking out your ocean view window and then to top it all off...”
            span.name Seelentag
            span.place From Los Angeles, California


