block vars
  -title="Home Page - Lotus hotel"
extends layouts/layout
block main
    .slider-wrapper
        include blocks/home/mainslider.jade
        include blocks/home/check-available.jade
    .main-content
        include blocks/home/room-rates
        include blocks/home/about-us
        include blocks/home/our-best
        include blocks/home/testimonial
        section.event-and-news
            .container
                .row
                    .col-md-6
                        include blocks/home/event
                    .col-md-6
                        include blocks/home/news
        include blocks/home/gallery
        include blocks/home/news-offer

