footer
    .container
        .row
            .col-md-2
                img.logo-footer(src="./uploads/logo_footer.jpg")
            .info-blk.col-md-2
                .place
                    i.fa.fa-map-marker
                    span 225 Beach Street, Australian
                .phone
                    i.fa.fa-phone
                    span 1-548-854-8898
                .mail
                    i.fa.fa-envelope-o
                    span hello@thelotushotel.com
            .page-links.col-md-push-1.col-md-1
                ul.page-menu
                    li
                        a(href="#") Guest Book
                    li
                        a(href="#") Gallery
                    li
                        a(href="#") Restaurant
                    li
                        a(href="#") Event
            .about-links.col-md-push-2.col-md-1
                ul.about-menu
                    li
                        a(href="#") About
                    li
                        a(href="#") Blog
                    li
                        a(href="#") Contact Us
                    li
                        a(href="#") Comming Soon
            .trip-advisor.col-md-push-3.col-md-3
                p.advisor-txt Now with hotel reviews by
                a.advisor-lk(href="#")
                    img(src="./images/trip_advisor.png")
                a.advisor-lk.star-rates(href="#")
                    img(src="./images/icon_rate.png")
                    img(src="./images/icon_rate.png")
                    img(src="./images/icon_rate.png")
                    img(src="./images/icon_rate.png")
                    img(src="./images/icon_rate_half.png")
    .copyright
        span © 2016 The Lotus Hotel. All rights reserved.