header
    .top-link
        .container
            ul.top-icons.f-l
                li
                    i.fa.fa-cloud
                    | 18 °C
                li
                    i.fa.fa-map-marker
                    | 225 Beach Street, Australian
                li
                    i.fa.fa-phone
                    | 1-548-854-8898
            ul.lang-curr.f-r
                li.curr-itm.dropdown
                    a.dropdown-toggle(href="#", data-toggle="dropdown", aria-expanded="false")
                        | USD
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href="#") VND
                li.lang-itm.dropdown 
                    a.dropdown-toggle(href="#", data-toggle="dropdown", aria-expanded="false")
                        | ENG
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href="#") VIE
    .navigation
        .container
            .nav-header.col-md-4
                a.logo-link.f-l(href="#")
                    img(src="./images/logo.png")
            .col-md-8
                ul.nav-menu.f-r
                    li.active
                        a(href="#") HOME
                    li 
                        a(href="#") room & rate
                    li
                        a(href="#") reservation
                    li
                        a(href="#") gallery 
                    li.dropdown
                        a.dropdown-toggle(href="#", data-toggle="dropdown", aria-expanded="false") PAGE
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="#") Guest Book
                            li
                                a(href="#") Checkout
                            li
                                a(href="#") Event
                            li
                                a(href="#") Blog
                            li
                                a(href="#") Restaurant
                            li
                                a(href="#") 404 Page
                            li
                                a(href="#") Coming Soon
                    li
                        a(href="#") ABOUT
                    li
                        a(href="#") CONTACT

