/**
 * HEADER CSS
 * Updated on 10/10/16
 */
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.top-link {
    height: 40px;
    ul {
        li {
            float: left;
            list-style: none;
            height: 40px;
            line-height: 40px;
            color: white;
            margin-right: 20px;
            font-size: 12px;
            &:last-child {
                margin: 0;
            }
            i {
                vertical-align: middle;
                margin-right: 5px;
                font-size: 15px;
            }
            .caret {
                margin-left: 5px;
            }
            .dropdown-toggle {
                color: white;
            }
        }
    }
}

.navigation {
    height: 80px;
    background: white;
    .logo-link {
        height: 80px;
        img {
            max-height: 100%;
        }
    }
    .nav-menu {
        li {
            float: left;
            list-style: none;
            &.active {
                a {
                    background: @yellow;
                    color: white;
                }
            }
            a {
                display: inline-block;
                height: 80px;
                line-height: 80px;
                padding: 0 20px;
                text-transform: uppercase;
                font-weight: 500;
                &:hover {
                    background: @yellow;
                    color: white;
                }
            }
        }
    }
}